
@{
    ViewBag.Title = "Index";
}

<h2>HNClothingShop - Sitio de Administracion</h2>

<div>
    <img src="~/Imagenes/portada.jpg" alt="HNClothingShop" style="width: 100%; max-width: 600px;" />
</div>

